@classPrefix: once;
@color: red;
@normalColor: #1890ff;
@successColor: #52c41a;
@warningColor: #faad14;
@errorColor: #f5222d;
@themeFontColor: #1890ff;
@themeBgcColor: #e6f7ff;
@themeBorderColor: #d9d9d9;
@themeInputBorderRadius: 4px;
@themeBoxBorderRadius: 4px;

// button
@btn-border-color: #d9d9d9;
@btn-border-radius: 4px;
@btn-normal-font-color: rgba(0, 0, 0, 0.65);
@btn-primary-font-color: #fff;
@btn-primary-hover-font-color: #40a9ff;
@btn-primary-hover-border-color: #40a9ff;
@btn-primary-active-font-color: #096dd9;
@btn-primary-active-border-color: #096dd9;
@btn-primary-bgc: #1890ff;
@btn-primary-active-bgc: #096dd9;
@btn-link-font-color: #1890ff;
@btn-link-hover-font-color: #40a9ff;
@btn-link-active-font-color: #096dd9;
@btn-normal-bgc: #fff;
@btn-success-bgc: #27ae60;
@btn-success-active-bgc: #219452;
@btn-danger-bgc: #f5222d;
@btn-danger-active-bgc: #d9363e;
@btn-pale-bgc: #f6f6f6;
@btn-pale-hover-bgc: #e8e8e8;
@btn-pale-active-bgc: #d9d9d9;