.transfer-wrapper {
  width: 800px;
  height: 300px;
}

.transfer-left {
  width: 50%;
  height: 100%;
  float: left;
  border: 1px solid #e8e8e8;

  ul {
    padding: 0;
    li {
      padding: 0 10px 0;
      list-style: none;
      height: 35px;
      line-height: 35px;
      &:hover {
        background-color: orange;
      }
    }
  }
}

.transfer-right {
  width: 50%;
  height: 100%;
  float: left;
  border: 1px solid #e8e8e8;
}